*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.main{
  width: 100%;
  margin: 0 auto; /* Center the container horizontally */
  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  border-radius: 8px; /* Rounded corners */
  
}
