.detailsPage{
    margin: 3em 1em;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 5em;
}

.infinitiImages{
    position: relative;
    width: 40em; 
    height: 30em;
    overflow: hidden;
}

.infinitiImages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.infinitiImages p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1em 1em;
    cursor: pointer;
    z-index: 5;
}

.infinitiImages .left {
    left: 1em;
  }
  
.infinitiImages .right {
    right: 1em;
}


.infinitiImages p:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.imagesContainer{
    display: flex;
    gap: 1em;
    align-items: center;
    /* justify-content: center; */
}
.imagesContainer img{
    width: 5em;
}

.allAboutImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.reviews{
    font-size: 2em;
    color: rgb(238, 156, 63);
}

.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 0.5em;
    width: 40%;
    border: 1px solid gainsboro;
}

.counter p{
    font-size: 1em;
}

.aboutSunglasses{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* align-items: center; */

    gap: 1.5em;
    width: 30%;
}


.addToCart{
    text-align: center;
    background-color: rgb(1, 1, 96);
    padding: 0.8em 4em;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.adminPanel{
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.editDeleteBTNS{
    display: flex;
    gap: 0.5em;
}
.edit, .delete{
    font-size: 2em;
    cursor: pointer;
}
.delete{
    color: red;
}
.edit{
    color: blue;
}


.addToCart:hover{
    background-color: black;
}

.information{
    scrollbar-width: 1em;
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .information h4{
    border-bottom: 1px solid gainsboro;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
} */
 .information h4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
 }


.productDetails{
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;

}


.firstSection, .secondSection{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* align-items: center; */
}
.shipping{
    width: 80%;
}

.shippingANDreturn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    text-align: justify;
}
.logos{
    display: flex;
    align-items: center;
    gap: 1em;
}


.youmayalsolike{
    text-align: center;
    font-size: 2em;
    margin: 1.5em 0 1.5em 0;
}
.maybeLikedCards{
    margin: 0 auto;
}
.shippingIsOpen{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1.5em 0;
}

.catalog-cards{
    margin-bottom: 1.5em;
}

.addToCardAndLike{
    display: flex;
    gap: 2em;
}

.hearth{
    font-size: 3em;
    color: grey;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}
.liked{
    color: red;
    transform: scale(1);
}

@media (min-width: 300px) and (max-width: 900px){
    .detailsPage{
        flex-direction: column;
    }
    .aboutSunglasses{
        width: 100%;
        align-items: center;
    }
    .infinitiImages{
        height: 30vh;
        width: 20em;
    }
    .productDetails{
        flex-direction: column;
    }
    .firstSection img{
        width: 80%;
    }
    .addToCardAndLike{
        margin: 0 auto;
    }
    .description p {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
}
