.navBars{
  width: 100%;
  height: auto;
}
.navBarOne{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutUser{
    display: flex;
    align-items: center;
    gap: 2em;
}
 
.language, .personIcon, .favoriteIcon, .shoppingIcon{
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.language{
    font-size: 1.5em;
}

.language:hover, .personIcon:hover, .favoriteIcon:hover, .shoppingIcon:hover, .navBarTwo nav a:hover{
    /* transform: scale(1.5);  */
    color: #2f2e2d;
    cursor: pointer;
}

.moving-label {
    font-size: 16px;
    /* font-weight: bold; */
    color: white;
    background-color: black;
    /* white-space: nowrap; Prevents text wrapping */
    overflow: hidden;
    /* border: 1px solid #ccc; */
    position: relative;
  }

  .moving-label span {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    /* gap: 5em; */
    /* animation: moveText 20s linear infinite; */
  }

  .moving-label span p {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
  /* @keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  } */

.navBarTwo nav {
    display: flex;
    align-items: center;
    gap: 5em;
    justify-content: center;
    margin: 0 0 0.9em 0;
}

.navBarTwo nav a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0.5em;
    transition: transform 0.2s ease-in-out;
}

.menuMen {
  position: absolute;
  background-color: white;
  top: 21.8%;
  right: 50%;
  width: 90%;
  height: 400px;
  z-index: 4;
  display: flex;
  gap: 5em;
  padding: 1em 0em 0em 2em;
  transform: translate(50%, 0);
  border: 1px solid black;
}

.manWithSunglasses{
  margin: 0 0 1.5em 5em;
}


.bestseller, .outlet{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;

}

.lensOptions ul li, .frameShape ul li{
  display: flex;
  align-items: center;
  margin: 0.5em 0 0 0;
  gap: 1em;
  font-size: 1.2em;
}

.lensOptions ul li img{
  width: 2.5em;
}
.responsivMenu{
  display: none;
}
.responsivMenuBTN{
  display: none;
}
.logo{
  width: 80px;
  border-radius: 30%;
}

@media (min-width: 300px) and (max-width: 900px){
  .moving-label {
    font-size: 5px;
  }
  .moving-label span{
    gap: 2em;
  }
  .moving-label span p{
    gap: 0.3em;
  }
  .euroIcon{
    width: 0.2em;
  }
  .searchBarBox{
    display: none;
  }
  .aboutUser{
    gap: 0.5em
  }
  .welcomeUsernam{
    display: none;
  }

  .navBarTwo{
    display: none;
  }
  .navBarOne{
    justify-content: space-between;
  }
  .responsivMenuBTN{
    display: block;
    font-size: 2em;
    color: purple;
  }
  .responsivMenu{
    position: absolute;
    display: block;
    top: 13%;
    /* width: 100%; */
    padding: 1em;
    left: 0;
    background-color: ghostwhite;
    z-index: 2312;
    border-radius: 16px;
  }
  .responsivMenu .searchBarBox{
    display: block;
  }
  .responsivMenu ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .responsivMenu ul li{
    display: block;
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 16px;
  }
  .responsivMenu ul li:hover{
    background-color: rgb(79, 79, 249);
    color: white;
  }
}