.navBars{
  width: 100%;
  height: auto;
}
.navBarOne{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutUser{
    display: flex;
    align-items: center;
    gap: 2em;
}
 
.language, .personIcon, .favoriteIcon, .shoppingIcon{
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.language{
    font-size: 1.5em;
}

.language:hover, .personIcon:hover, .favoriteIcon:hover, .shoppingIcon:hover, .navBarTwo nav a:hover{
    /* transform: scale(1.5);  */
    color: #2f2e2d;
    cursor: pointer;
}

.moving-label {
    font-size: 16px;
    /* font-weight: bold; */
    color: black;
    /* background-color: rgb(86, 46, 31); */
    background-color: rgb(0, 157, 255);
    /* white-space: nowrap; Prevents text wrapping */
    overflow: hidden;
    /* border: 1px solid #ccc; */
    position: relative;
  }

  .moving-label span {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    /* gap: 5em; */
    /* animation: moveText 20s linear infinite; */
  }

  .moving-label span p {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

.navBarTwo nav {
    display: flex;
    align-items: center;
    gap: 5em;
    justify-content: center;
    margin: 0 0 0.9em 0;
}

.navBarTwo nav a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0.5em;
    transition: transform 0.2s ease-in-out;
}

.menuMen {
  position: absolute;
  background-color: white;
  top: 21.8%;
  right: 50%;
  width: 90%;
  height: 400px;
  z-index: 4;
  display: flex;
  gap: 5em;
  padding: 1em 0em 0em 2em;
  transform: translate(50%, 0);
  border: 1px solid black;
}

.manWithSunglasses{
  margin: 0 0 1.5em 5em;
}


.bestseller, .outlet{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;

}

.lensOptions ul li, .frameShape ul li{
  display: flex;
  align-items: center;
  margin: 0.5em 0 0 0;
  gap: 1em;
  font-size: 1.2em;
}

.lensOptions ul li img{
  width: 2.5em;
}
.responsivMenu{
  display: none;
}
.responsivMenuBTN{
  display: none;
}
.logo{
  width: 80px;
  border-radius: 30%;
}
/* //////// */
.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 3.5em;
  display: none;
  width: 3.5em;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navigation__button {
    display: inline-block;
    top: 2.5em;
    left: 1em;
  }
}

@media (max-width: 600px) {
  .navigation__button {
    top: 2.5em;
    right: 19em;
  }
}

.navigation__background {
  display: none;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  position: fixed;
  top: 3em;
  right: 21em;
  background-image: radial-gradient(#78d9f4, rgb(0, 157, 255));
  z-index: 1000;
  transition: all 0.6s;
}

@media (max-width: 900px) {
  .navigation__background {
    top: 3.2em;
    left: 2.5em;
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .navigation__background {
    top: 2.7em;
    left: 2em;
    display: inline-block;

  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  z-index: 1500;
  opacity: 0;
  width: 0;
  /* transition: all 0.6s;  */
}

.navigation__list {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1em;
}
.navigation__header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 10%;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  text-decoration: wavy;
  font-size: 2em;
  font-weight: 300;
  padding: 1rem 2rem;
  color: black;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  transition: all 0.8s;
}

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

/* .navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #343635;
  transform: translateX(1rem);
} */

.navigation__background.open-bg{
  transform: scale(95);
}

.navigation__background.open-bg ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  transition-delay: 0.2s;
}
.icon{
  display: flex !important;
  height: 100% !important;
  width: 100% !important;
  padding: 0.3em !important;
}

@media(min-width: 700px){
  .moving-label {
    font-size: 1em;
  }
}
@media (min-width: 300px) and (max-width: 900px){
  .moving-label {
    font-size: 0.3em;
  }
  .logo{
    margin-left: 5em;
  }
  .moving-label span{
    gap: 2em;
  }
  .moving-label span p{
    gap: 0.3em;
  }
  .iconMovingLabel{
    color: white;
    font-size: 3em;
  }
  .searchBarBox{
    display: none;
  }
  .aboutUser{
    gap: 0.5em
  }
  .welcomeUsernam, .navBarTwo, .language{
    display: none;
  }
  .personIconNone{
    visibility: hidden;
  }
  .navBars{
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navBarOne{
    background-color: white;
    justify-content: space-between;
    width: 100%;
  }
  .responsivMenuBTN{
    display: block;
    font-size: 2em;
    color: purple;
  }
  .responsivMenu{
    position: absolute;
    display: block;
    top: 30%;
    padding: 1em;
    left: 0;
    background-color: ghostwhite;
    z-index: 2312;
    border-radius: 16px;
    transition: all .3s ease-in-out;
  }

  .open{
    left: 0 !important;
  }
  .closed{
    left: -100% !important;
  }

  .responsivMenu div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .closeResponsivMenu{
    font-size: 2em;
  }
  .responsivMenu .searchBarBox{
    display: block;
  }
  .responsivMenu ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .responsivMenu ul li{
    display: block;
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 16px;
  }
  .responsivMenu ul a {
    text-decoration: none;
  }
  .responsivMenu ul li:hover{
    background-color: rgb(79, 79, 249);
    color: white;
  }

  .responsive{
    display: inline;
  }
}