.cartDropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: ghostwhite;
    width: 20%;
    top: 12%;
    left: 70%;
    padding: 1em;
    border: 1px solid black;
    max-height: 71%;
    overflow-y: scroll;
    z-index: 5000;
}

.cartDropdown::-webkit-scrollbar {
    width: 2px;
}

.cartDropdown::-webkit-scrollbar-thumb {
    background: rgb(2, 0, 0);
    border-radius: 4px;
}
.cartDropdown::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.aboutItem{
    display: flex;
    gap: 1em;
    align-items: center;
    border-bottom: 2px solid gainsboro;
    padding: 1em 0;
}


.aboutItem img{
    border-radius: 8px;
}

.sumaryInfo{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-transform: uppercase;
}
.sumaryInfo p {
    font-size: 0.8em;
}
.close2{
    font-size: 2em;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-transform: uppercase;
    margin-top: 1em;
    width: 100%;
}

.buttons a{
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    padding: 0.5em 1em ;
}
.viewCart{
    color: black;
}
.ckeckout{
    background-color: black;
    color: white;
}

.shoppingIcon:hover .cartDropdown{
    visibility: visible;
}