
.searchBarBox {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 10px auto;
}

.searchBar {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
}

.searchIcon {
    color: #555;
    font-size: 20px;
    margin-left: 8px;
    cursor: pointer;
}