*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* .main{
  width: 100%;
  margin: 0 auto; 
  background-color: red;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  min-height: 70vh;
  
} */

#root{
  min-height: 100vh;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.footer{
  margin-top: auto;
}
.main{
  flex: 1;
}

@media(max-width: 900px){
  #root{
    margin-top: 8.3em;
  }
  /* hr{
    display: none;
  } */
}
