.cart{
    height: 73vh;
}
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
.table th, .table td {  
    text-align: center; /* Центрирай текста */  
    vertical-align: middle; /* Центрирай вертикално съдържанието */  
} 
.table th{
    background-color: gainsboro;
    border: 1px solid gray;
    padding: 1em 0 1em 0;
}
.table td {
    align-items: center;
    border: 1px solid gainsboro;

}
.table img {  
    display: block; /* Направи изображението block елемент */  
    margin: 0.5em auto; /* Центрирай изображението */  
}  
.counterTD{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: auto;
    width: 100%;
}
.del{
    font-size: 2em;
    color: red;
}
.scrollbarTabelle{
    height: 400px;
    overflow-y: scroll;

}
