.footer{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 1em
}

.socialMediasIcons{
    display: flex;
    gap: 1em;
    font-size: 2em;
    color: white;
}
.logo{
    display: flex; 
    align-items: center;
    gap: 2em;
}
.logo div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.logo div a{
    text-decoration: none;
    color: white;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

@media (min-width: 300px) and (max-width: 1200px) {
    .footer{
        font-size: 0.5em;
    }

    .socialMediasIcons{
        margin-top: 0.5em;
    }
}