.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
  
.images{
    height: auto;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);

    /* animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit; */
  }

  .hero1 , .hero2{
    z-index: -1;
    width: 50%;
    height: 100%; 
    background-size: cover;

    /* animation: header-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit; */
  }

  /* @keyframes fade-out {
    to{opacity: 0; scale: 1;}
  } */

  /* @keyframes header-image-animation {
    25% {
      opacity: 1;
    }

    85%, 
    100%{
      opacity: 0;
      scale: 2;
    }
  } */

  .content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    /* backdrop-filter: blur(10px); */
  }
  .trendingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1em 0 1em 0; */
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;;
    
  }

  @media(prefers-reduced-motion: no-preference){
    @keyframes fade-in {
      /* 0%{scale: 0.6; opacity: 0.2;} */
      20%{scale: 0.6; opacity: 0.3;}
      40%{scale: 0.7; opacity: 0.3;}
      50%{scale: 0.8; opacity: 0.5;}
      70%{scale: 0.9; opacity: 0.7;}
      90%,100%{scale: 1; opacity: 1;}
    }
  }


.trandingCard{
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(212, 201, 193, 0.582);
  margin: 2em 0 2em 0;
  

}

.buttonsLoveCart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.buttonsLoveCart .favoriteIcon{
    color: red;
  
}
.trendingCards{
  display: flex;
  gap: 2em;
  /* margin: 1em 0 1em 0; */

}

.benefits{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 2em 0 2em 0;
}
.benefit{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1.2em;
  width: 40%;
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(228, 232, 234);
  letter-spacing: 0.5px;
}

.benefit span{
  font-size: 3em;
  color: brown;
  font-weight: bold;
}
.choice{
  margin: 1em;
}
.question{
  display: flex;
  text-align: center;
  justify-content: center;
}
.question img{
  width: 22.5%;
  margin: 1em 0 1em 0;
  border-radius: 30%;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em 0.2em 1em 0.2em;
  backdrop-filter: blur(10px) brightness(0.8);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.button:hover{
  transform: translateY(-10px); /* Move the button up */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}


